apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - helmrelease.yaml
  # clusterissuer.yaml wird später hinzugefügt, nachdem cert-manager installiert ist
namespace: cert-manager

