apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
  namespace: monitoring
spec:
  interval: 5m
  chart:
    spec:
      chart: prometheus
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      version: "30.0.0"
  values:
    server:
      resources:
        limits:
          cpu: 1000m
          memory: 512Mi
        requests:
          cpu: 200m
          memory: 256Mi
      persistentVolume:
        enabled: false
    alertmanager:
      enabled: false
    nodeExporter:
      enabled: false
    pushgateway:
      enabled: false
    kubeStateMetrics:
      enabled: false

